#main_div{
    padding: 10px 0px 0px 5px
}

.el-button{
    padding: 8px 12px;
}

.el-dialog__header{
    padding: 10px 15px;
}

.el-dialog{
    border-radius: 10px;
}

.el-dialog__body{
    padding: 5px 30px 5px 20px;
}

.el-dialog__footer{
    padding: 0px 10px 10px 0px;
}

.el-dialog__title{
    font-size: 14px;
}

.el-dialog__headerbtn{
    top: 15px;
    font-size: 14px;
}

.el-form-item{
    margin-bottom: 14px;
}

.search-row .el-form-item{
    margin-bottom: 0px;
}

.el-form-item__label{
    color: #000000;
}

.el-textarea__inner,.el-input__inner{
    border: 1px solid rgba(192,192,192,0.8);
    position: relative;
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
}

.el-form-item__error{
    padding-top: 1px;
}

.button-row{
    padding: 5px 5px;
}

.el-message-box{
    width: 250px;
}

.el-table__body tr.current-row>td,.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #99FFFF;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
    background-color: #99FFFF;
}

.el-table td, .el-table th{
    padding: 3px 0px;
    font-weight: normal;
}

.el-table .cell{
    font-family: "Microsoft YaHei UI";
    font-size: 14px;
    color: #282828;
}
